page-login {
    ion-content {
        background-image: url('../../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        font-weight: bold;
        
        h1 {
            color: #D4AF37;
            font-weight: bold;
        }

        .transparent{
            background-color: #ffa50000;
            background: #ffa50000;
            font-size: 15px;
            font-weight: bold;
            color: #D4AF37;
        }
        
        ion-item {
            background: transparent !important;

            ion-input {
               color: #D4AF37;
            }
            ion-label {
                color: #fff !important;
            }
        }
        
        button:hover {
            background: white
        }
    }

    
}

