page-login {
    ion-content {
        background-image: url('../../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        
        .transparent{
            background-color: #ffa50000;
            background: #ffa50000;
        }

        ion-button:hover {
            background: white
        }
    
    }

    
}

