<ion-header>
		<ion-navbar>
		  <ion-title>
			Home
		  </ion-title>
		  <ion-buttons right 	*ngIf="username == null">
			<button ion-button icon-only menuToggle>
			  <ion-icon name='menu'></ion-icon>
			</button>
		  </ion-buttons>
		</ion-navbar>
	  </ion-header>

<ion-content padding>
	<div *ngIf="all">
			<h1> ALL COINS</h1>
	</div>
	<div *ngIf="all == false">
			<h1> COINS BY RANK </h1>
	</div>
		<ion-input placeholder="Search coin"></ion-input>
			<button *ngIf="all" (click)='byRank()'>SHOW BY RANK</button>
			<button *ngIf="all == false" (click)='allCoins()'>SHOW ALL COINS</button>
	<ion-list>
		<ion-item *ngFor="let item of currentItems; let in = index" (click)='certainCoin(currentItems[in].id)'>
			{{item.name}} {{item.symbol}} {{item.rank}}
		</ion-item>
	</ion-list>
	<ion-infinite-scroll (ionInfinite)="scrollDown($event)">
		<ion-infinite-scroll-content> loadingSpinner="bubbles" </ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>

<ion-footer *ngIf="username != null">
		<ion-toolbar text-center="" color="dark">
				<ion-buttons>
						<button ion-button (click)="favView()">
								<ion-icon name="heart"></ion-icon>
							</button>
							<button ion-button (click)="accountView()">
								<ion-icon name="construct"></ion-icon>
							</button>
					</ion-buttons>
			</ion-toolbar>
	</ion-footer>