page-home {
    font-weight: bold;

    ion-footer {
        ion-icon {
            font-size: 40px;
        }
    }

   h1 {
        text-align: center;
        color: #D4AF37;
        font-weight: bold;
    }


    ion-content {
        background-image: url('../../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        
        .transparent{
            background-color: #ffa50000;
            background: #ffa50000;
            font-weight: bold;
        }

        button {
            font-weight: bold;
            position: absolute;
            display: block;
            border: 1px solid #fff;
            box-shadow: 0px;
        }

    }
}
