page-calculator {
    h1 {
        text-align: center;
        color: #D4AF37;
        }
    ion-content {
        background-image: url('../../assets/imgs/background.jpg');
        background-repeat: no-repeat;
        
        .transparent{
            background-color: #ffa50000;
            background: #ffa50000;
        }

    }
    ion-input {
        color: #D4AF37;
    }

    ion-select {
        color: #D4AF37;
    }
}
