<!-- Generated template for the HeaderMenuComponent component -->
<div *ngIf="username == null">
    <ion-list>
      <button ion-item menuClose (click)="goToLogin()">
        Login
      </button>
      <button ion-item menuClose (click)="goToSignup()">
        Signup
      </button>
    </ion-list>
</div>

<div *ngIf="username != null">
  <ion-list>
    <button ion-item menuClose (click)="goToLogin()">
      Login
    </button>
    <button ion-item menuClose (click)="goToSignup()">
      Signup
    </button>
    <button ion-item menuClose (click)="goToCalc()">
      Calculator
    </button>
  </ion-list>
</div>
    