coin-details {
    h1 {
        text-align: center;
        color: #D4AF37
        }
    
        p {
        color: #D4AF37;
        font-size: 1.6rem
        }

        ion-content {
            background-image: url('../../assets/imgs/background.jpg');
            background-repeat: no-repeat;
            color: #D4AF37;
            
            .transparent{
                background-color: #ffa50000;
                background: #ffa50000;
            }
    
        }
}
